:root {
  --verdigris: #41b4b4;
  --charcoal: #424b54;
  --nyanza: #d6f8d6;
  --etom-blue: #7fc6a4;
  --cosmic-latte: #fff8eb;
  --fuente-principal: "Playfair Display", serif;
  --fuente-secundaria: "Lato", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /** Resets para REMS - 62.5% = 1rem = 10px **/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
p,
a {
  font-family: var(--fuente-secundaria);
}
main {
  background: rgba(65, 180, 180, 1);
  background: -moz-linear-gradient(
    left,
    rgba(65, 180, 180, 1) 0%,
    rgba(127, 198, 164, 1) 50%,
    rgba(65, 180, 180, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(65, 180, 180, 1)),
    color-stop(50%, rgba(127, 198, 164, 1)),
    color-stop(100%, rgba(65, 180, 180, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(65, 180, 180, 1) 0%,
    rgba(127, 198, 164, 1) 50%,
    rgba(65, 180, 180, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(65, 180, 180, 1) 0%,
    rgba(127, 198, 164, 1) 50%,
    rgba(65, 180, 180, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(65, 180, 180, 1) 0%,
    rgba(127, 198, 164, 1) 50%,
    rgba(65, 180, 180, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(65, 180, 180, 1) 0%,
    rgba(127, 198, 164, 1) 50%,
    rgba(65, 180, 180, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b4b4', endColorstr='#41b4b4', GradientType=1 );
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  font-family: var(--fuente-principal);
  font-weight: 700;
}
h2 {
  font-size: 5rem;
  color: var(--cosmic-latte);
  font-family: var(--fuente-principal);
}
.subtitles-box {
  padding: 8.5rem 0 6rem 0;
}
.subtitles {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  font-weight: 600;
}
.subtitles h2 {
  margin: 0 auto;
  border-radius: 5px;
  text-shadow: 0px 3px 6px rgba(150, 150, 150, 1);
}
/** HEADER **/
.container-video {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}
.container-video video {
  vertical-align: middle;
  filter: brightness(0.5);
  min-height: 100%;
}
@media (min-width: 768px) and (min-width: 992px) {
  .container-video {
    min-height: 100%;
  }
  .container-video video {
    min-width: 100%;
  }
}
@media (max-width: 480px) {
  .container-video {
    min-height: 90rem;
  }
}

.about-me {
  position: relative;
  color: var(--cosmic-latte);
}

.about {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.header-nav {
  margin: 0 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .header-nav {
    margin: 0 20rem;
  }
}
@media (min-width: 992px) {
  .header-nav {
    margin: 0 30rem;
  }
}
@media (max-width: 480px) {
  .header-nav {
    margin: 0 3rem;
  }
}
.header-nav nav {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.about-me nav a {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--verdigris);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) and (min-width: 992px) {
  .about-me nav a {
    font-size: 2.6rem;
  }
}
.about-me nav a:hover {
  color: var(--cosmic-latte);
}
.about-me nav i {
  color: var(--etom-blue);
}
.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (min-width: 992px) {
  .hello {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem;
  }
}
.presentation {
  width: 95%;
  margin-top: 2rem;
}
@media (min-width: 768px) and (min-width: 992px) {
  .presentation {
    width: 600px;
  }
}
.presentation h1 {
  font-size: 3.2rem;
  text-align: center;
  margin: 0;
}
.presentation h1 br {
  display: none;
}
@media (min-width: 768px) and (min-width: 992px) {
  .presentation h1 {
    font-size: 5rem;
    text-align: justify;
  }
  .presentation h1 br {
    display: block;
  }
}
.presentation p {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) and (min-width: 992px) {
  .presentation p {
    font-size: 2.4rem;
    text-align: start;
  }
}
.myself {
  width: 20rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (min-width: 992px) {
  .myself {
    width: 29rem;
    margin-top: 0;
  }
}
.myself a {
  font-family: var(--fuente-principal);
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--cosmic-latte);
  border: 3px solid var(--verdigris);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media (min-width: 768px) and (min-width: 992px) {
  .myself a {
    font-size: 3rem;
  }
}
.myself a:hover {
  background-color: rgba(66, 75, 84, 0.7);
  border: 3px solid var(--verdigris);
}
.myself img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.myself img:hover {
  transform: scale(1.1);
}
/* NAVIGATION BAR */
.navigation-box {
  background-color: var(--charcoal);
  width: 100%;
}
.navigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}
@media (min-width: 768px) and (min-width: 992px) {
  .navigation {
    margin: 0 10rem;
  }
}
.navigation a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--cosmic-latte);
  transition: color 0.3s ease-in-out;
}
@media (min-width: 768px) and (min-width: 992px) {
  .navigation a {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  .navigation a {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}
.navigation a:hover {
  color: var(--verdigris);
}
.navigation a i {
  font-size: 3rem;
}
@media (min-width: 768px) and (min-width: 992px) {
  .navigation a i {
    font-size: 3.6rem;
  }
}
@media (max-width: 480px) {
  .navigation a i {
    font-size: 2.2rem;
  }
}
.home {
  flex-basis: 50%;
}
.principal-nav {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) and (min-width: 992px) {
  .home {
    flex-basis: 100%;
  }
  .principal-nav {
    flex-basis: 100%;
  }
}
.principal-nav a:last-child {
  border: 2px solid var(--verdigris);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.principal-nav a:last-child:hover {
  background-color: rgba(65, 180, 180, 0.5);
  color: var(--cosmic-latte);
}
/** SKILLS **/
.skills {
  max-width: 90rem;
  margin: 0 auto;
}
.techs,
.techs-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 480px) {
  .techs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .techs-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}
.techs li,
.techs-2 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.6rem;
  font-family: var(--fuente-secundaria);
}
.iconify {
  color: var(--charcoal);
  font-size: 10rem;
  transition: color 0.3s ease-in-out;
}
.iconify:hover {
  color: #186363;
}

.techs li p,
.techs-2 li p {
  color: var(--cosmic-latte);
  font-size: 2.4rem;
}
.edit-img {
  width: 18rem !important;
}
/* PROJECTS */
.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project {
  position: relative;
}
.project img {
  border-radius: 10px;
}
.project-link {
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  background-color: rgba(66, 75, 84, 0.8);
  opacity: 0;
  height: 100%;
  display: none;
}
@media (min-width: 768px) {
  .project-link {
    display: flex;
    bottom: 80px;
  }
}
.project-link a {
  font-size: 2.6rem;
  padding: 10px 15px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: var(--verdigris);
  transition: all 0.3s ease-in;
}
.project-link a:hover {
  color: var(--cosmic-latte);
}
@media (min-width: 768px) {
  .project:hover .project-link {
    bottom: 0;
    opacity: 1;
  }
}
/** FOOTER **/
footer {
  background-color: var(--charcoal);
  width: 100%;
}
.social {
  margin: 0 5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (min-width: 992px) {
  .social {
    margin: 0 20rem;
  }
}

.social a {
  padding: 1.5rem 0;
  text-decoration: none;
  color: var(--cosmic-latte);
  font-size: 2.2rem;
  transition: color 0.3s ease-in-out;
}
.social a:hover {
  color: var(--verdigris);
}
.copy {
  color: var(--cosmic-latte);
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 0;
  background-color: #343a40;
  font-family: var(--fuente-secundaria);
}
.fixed .navigation-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000000;
  -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--charcoal);
}
::-webkit-scrollbar-thumb {
  background-color: var(--verdigris);
  border-radius: 10px;
}
.traduction {
  font-size: 2rem;
  text-align: end;
}
.traduction a {
  text-decoration: none;
  color: var(--cosmic-latte);
  font-family: var(--fuente-secundaria);
  padding-right: 2rem;
}
.traduction a i {
  color: var(--verdigris);
}
.display-flex {
  display: flex;
  opacity: 1;
}
